node_modules
node_modules/

.idea
.vscode
yarn-error.log
yarn.lock
package-lock.json
.env

dist
dist/
# Elastic Beanstalk Files
.elasticbeanstalk
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.ebextensions